<footer>
    <a href="#" class="button btn-pos"><i class="fas fa-arrow-up"></i> To the top</a>
    <div class="social-icons">
        <a href="https://www.facebook.com/dorneanueduardgabriel"><i class="fab fa-facebook-square fa-cog fa-2x"></i></a>
        <a href="https://www.instagram.com/dorneanu_eduard"><i class="fab fa-instagram fa-cog fa-2x"></i></a>
        <a href="#"><i class="fab fa-snapchat-square fa-cog fa-2x"></i></a>
        <a href="https://www.linkedin.com/in/dorneanu-eduard-gabriel-329751172/"><i class="fab fa-linkedin fa-cog fa-2x"></i></a>
    </div>
</footer>