<div class="container">
    <nav class="navbar">
        <a href="index.html">Home</a>
        <a href="game.html">Game</a>
        <a href="index.html#about">About</a>
        <a href="leaderboard.html" id="leaderboard">Leaderboard</a>
        <div class="dropdown">
            <a href="tutorial.html">Tutorial<i class="fas fa-arrow-alt-circle-down fa-sm"></i></a>
            <div class="dropdown-content">
                <a href="tutorial.html#container-movement">Movement</a>
                <a href="tutorial.html#container-article">Objective</a>
                <a href="tutorial.html#containter-enemy-section">Enemies</a>
            </div>
        </div>
        <% if(locals.loggedIn == true) { %>
            <a href="signOut.html">Sign Out</a>
        <% } else { %>
            <a href="signUp.html">Sign Up</a>
        <% } %>
    </nav>
    <div class="menu-toggle"><i class="fa fa-bars" aria-hidden="true"></i></div>
</div>