<html lang="ro">
<head>
    <title>Space Invaders</title>
    <link rel="stylesheet" href="game.css">
    <link rel="stylesheet" href="style.css">
    <script src="https://kit.fontawesome.com/1714457612.js" crossorigin="anonymous"></script>
</head>
<body>
    <% include partials/navbar %>

    <div id="main">
        <div id="game" class="center-div">
            <div id="background">
                <div id="score">Score: </div>
                <div id="lives">Lives: </div>
                <div id="hero"></div>
                <div id="missiles"></div>
                <div id="enemies"></div>
                <div id="enemyMissiles"></div>
            </div>
        </div>
    </div>

    <% include partials/footer %>
    <script type="text/javascript">
        window.onload = () => {
            document.querySelector(".menu-toggle").addEventListener('click', function() {
                document.querySelector('nav').classList.toggle('active');
            });
        }
    </script>
    <script src="game.js"></script>
</body>
</html>